GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=us-central1
STAGING_BUCKET=gs://your-project-id-agent-staging
AGENT_RUNTIME_DISPLAY_NAME=loan-advisor-demo
CONTINUE_URI=http://localhost:8080
MAIL_AUTH_RESOURCE_NAME=projects/your-project-id/locations/us-central1/connectors/adk-agentruntime-gmail
BQ_AUTH_RESOURCE_NAME=projects/your-project-id/locations/us-central1/connectors/adk-agentruntime-bigquery
AGENT_ENGINE_NAME=projects/your-project-number/locations/us-central1/reasoningEngines/your-agent-engine-id
